



#main{width:400px;height:400px;border:1px dotted #ccc;margin:10px auto;background-color:#fff;position:relative;}

#tree-ul-1{margin:10px 0 0 10px;}

ul{min-height:25px;background:url('/css/img/bgimage.png') 0 0 repeat-y;}

li{min-height:25px;}

span{cursor:pointer;}



.span-mark-1{display:inline-block;width:13px;height:9px;background-image:url('/css/img/tree.png');background-position:-35px -57px;}

.span-mark-2{display:inline-block;width:13px;height:9px;background-image:url('/css/img/tree.png');background-position:-17px -57px;}

.span-mark-3{display:inline-block;width:12px;height:14px;background-image:url('/css/img/tree.png');background-position:-51px -31px;margin-right:3px;vertical-align:middle;}

.tree-ul-2{margin-left:25px;}
.tree-ul-3{margin-left:25px;display:none;}


#menu{width:60px;height:20px;text-align:center;cursor:pointer;display:none;position:absolute;}

#menu-span-1{display:inline-block;width:14px;height:15px;background:url('/css/img/tree.png') 0 -55px;}
#menu-span-2{display:inline-block;width:14px;height:16px;background:url('/css/img/tree.png') -51px -47px;}
#menu-span-3{display:inline-block;width:14px;height:15px;background:url('/css/img/tree.png') -49px -63px;}


#rename{position:absolute;display:none;width:100px;height:25px;border:1px solid #aaa;}


