<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> New Document1 </title>
    <meta name="Author" content="参禅/huabinglan@163.com">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <script language="javascript" src="/js/jquery-1.8.0.min.js"></script>

</head>

<body>
该地址不存在

<script language="javascript">
    function printState() {//打印状态

    }
</script>
</body>
</html>
